[submodule "perks"]
	path = perks
	url = https://github.com/azure/perks
	branch = master
[submodule "autorest.powershell"]
	path = autorest.powershell
	url = https://github.com/azure/autorest.powershell
	branch = master
[submodule "autorest"]
	path = autorest
	url = https://github.com/azure/autorest
	branch = oai3-reorg
[submodule "autorest.remodeler"]
	path = autorest.remodeler
	url = https://github.com/azure/autorest.remodeler
	branch = master
[submodule "autorest.sputnik"]
	path = autorest.sputnik
	url = https://github.com/fearthecowboy/autorest.sputnik
